body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:754px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u5016 {
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:754px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u5017 {
  position:absolute;
  left:20px;
  top:369px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5020 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
  overflow:hidden;
}
#u5020_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u5020_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5021 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u5021_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u5021_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5022 {
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5022_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5022.selected {
}
#u5023 {
  position:absolute;
  left:10px;
  top:1px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:101px;
}
#u5025 {
  position:absolute;
  left:0px;
  top:873px;
  width:1080px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:26px;
  width:1076px;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
}
#u5028 {
  position:absolute;
  left:243px;
  top:169px;
  width:149px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u5028_img.selected {
}
#u5028.selected {
}
#u5029 {
  position:absolute;
  left:2px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u5030 {
  position:absolute;
  left:400px;
  top:170px;
  width:240px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u5031 {
  position:absolute;
  left:12px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u5032 {
  position:absolute;
  left:377px;
  top:460px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u5032_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u5032.mouseOver {
  opacity:0.8;
}
#u5032_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u5032.mouseDown {
  opacity:1;
}
#u5033 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u5035 {
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u5035_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u5035.mouseOver {
}
#u5036 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u5037 {
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u5038 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
}
#u5039 {
  position:absolute;
  left:215px;
  top:225px;
  width:177px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u5039_img.selected {
}
#u5039.selected {
}
#u5040 {
  position:absolute;
  left:2px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u5041 {
  position:absolute;
  left:400px;
  top:235px;
  width:450px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u5042 {
  position:absolute;
  left:10px;
  top:10px;
  width:438px;
  word-wrap:break-word;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5043 {
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5044 {
  position:absolute;
  left:20px;
  top:17px;
  width:1078px;
  visibility:hidden;
  word-wrap:break-word;
}
