body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-282px;
  width:387px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  position:absolute;
  left:283px;
  top:19px;
  width:375px;
  height:667px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  position:absolute;
  left:282px;
  top:19px;
  width:375px;
  height:65px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1886 {
  position:absolute;
  left:453px;
  top:52px;
  width:32px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1888 {
  position:absolute;
  left:620px;
  top:53px;
  width:31px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1890 {
  position:absolute;
  left:292px;
  top:26px;
  width:360px;
  height:11px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:282px;
  top:84px;
  width:375px;
  height:65px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1896 {
  position:absolute;
  left:282px;
  top:84px;
  width:241px;
  height:65px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1897 {
  position:absolute;
  left:44px;
  top:23px;
  width:197px;
  word-wrap:break-word;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1900 {
  position:absolute;
  left:282px;
  top:294px;
  width:374px;
  height:165px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:74px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  position:absolute;
  left:295px;
  top:305px;
  width:74px;
  height:24px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1904 {
  position:absolute;
  left:305px;
  top:294px;
  width:347px;
  height:1px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1906 {
  position:absolute;
  left:305px;
  top:338px;
  width:347px;
  height:1px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1908 {
  position:absolute;
  left:282px;
  top:338px;
  width:370px;
  height:1px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1910 {
  position:absolute;
  left:282px;
  top:294px;
  width:374px;
  height:1px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1912 {
  position:absolute;
  left:627px;
  top:308px;
  width:10px;
  height:17px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1914 {
  position:absolute;
  left:535px;
  top:308px;
  width:82px;
  height:18px;
  font-size:12px;
  color:#999999;
}
#u1915 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1916 {
  position:absolute;
  left:629px;
  top:107px;
  width:10px;
  height:17px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920 {
  position:absolute;
  left:284px;
  top:480px;
  width:375px;
  height:45px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  position:absolute;
  left:298px;
  top:490px;
  width:74px;
  height:23px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1924 {
  position:absolute;
  left:629px;
  top:495px;
  width:10px;
  height:17px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1927 {
  position:absolute;
  left:284px;
  top:525px;
  width:375px;
  height:45px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  position:absolute;
  left:298px;
  top:537px;
  width:74px;
  height:23px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:284px;
  top:569px;
  width:375px;
  height:45px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:298px;
  top:582px;
  width:74px;
  height:23px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1936 {
  position:absolute;
  left:629px;
  top:538px;
  width:10px;
  height:17px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1938 {
  position:absolute;
  left:629px;
  top:584px;
  width:10px;
  height:17px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u1940 {
  position:absolute;
  left:298px;
  top:569px;
  width:361px;
  height:1px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u1942 {
  position:absolute;
  left:298px;
  top:524px;
  width:361px;
  height:1px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#007AFF;
}
#u1944 {
  position:absolute;
  left:282px;
  top:164px;
  width:375px;
  height:112px;
  font-size:17px;
  color:#007AFF;
}
#u1945 {
  position:absolute;
  left:0px;
  top:48px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1946 {
  position:absolute;
  left:298px;
  top:90px;
  width:53px;
  height:53px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u1948 {
  position:absolute;
  left:454px;
  top:183px;
  width:41px;
  height:45px;
}
#u1949 {
  position:absolute;
  left:0px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1950 {
  position:absolute;
  left:445px;
  top:238px;
  width:57px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1952 {
  position:absolute;
  left:329px;
  top:184px;
  width:45px;
  height:45px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1954 {
  position:absolute;
  left:323px;
  top:238px;
  width:57px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u1956 {
  position:absolute;
  left:567px;
  top:183px;
  width:41px;
  height:45px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1958 {
  position:absolute;
  left:560px;
  top:238px;
  width:57px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:13px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#007AFF;
}
#u1960 {
  position:absolute;
  left:284px;
  top:635px;
  width:375px;
  height:51px;
  font-size:17px;
  color:#007AFF;
}
#u1961 {
  position:absolute;
  left:0px;
  top:18px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1965 {
  position:absolute;
  left:294px;
  top:645px;
  width:375px;
  height:51px;
  font-size:9px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1967 {
  position:absolute;
  left:294px;
  top:645px;
  width:375px;
  height:1px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  position:absolute;
  left:341px;
  top:655px;
  width:26px;
  height:26px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u1971 {
  position:absolute;
  left:607px;
  top:655px;
  width:26px;
  height:26px;
  color:#199ED8;
}
#u1972 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1973 {
  position:absolute;
  left:324px;
  top:682px;
  width:59px;
  height:12px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#199ED8;
  text-align:center;
}
#u1975 {
  position:absolute;
  left:606px;
  top:682px;
  width:28px;
  height:12px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#199ED8;
  text-align:center;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
