body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:2535px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6808 {
  position:absolute;
  left:1127px;
  top:88px;
  width:1px;
  height:32px;
  overflow:hidden;
}
#u6808_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6808_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6809 {
  position:absolute;
  left:0px;
  top:155px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u6809_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6809_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6810 {
  position:absolute;
  left:1160px;
  top:767px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u6810_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6810_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6811 {
  position:absolute;
  left:0px;
  top:816px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u6811_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6811_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Malayalam MN Regular', 'Malayalam MN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6813 {
  position:absolute;
  left:1px;
  top:64px;
  width:1184px;
  height:47px;
  font-family:'Malayalam MN Regular', 'Malayalam MN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6814 {
  position:absolute;
  left:36px;
  top:18px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6815 {
  position:absolute;
  left:1px;
  top:65px;
  width:88px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6816 {
  position:absolute;
  left:32px;
  top:16px;
  width:56px;
  white-space:nowrap;
}
#u6817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6817 {
  position:absolute;
  left:1px;
  top:111px;
  width:33px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6818 {
  position:absolute;
  left:32px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6819 {
  position:absolute;
  left:224px;
  top:200px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u6820 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:133px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6822 {
  position:absolute;
  left:1px;
  top:111px;
  width:1184px;
  height:133px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6823 {
  position:absolute;
  left:16px;
  top:58px;
  width:1152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u6824 {
  position:absolute;
  left:35px;
  top:191px;
  width:88px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u6825 {
  position:absolute;
  left:16px;
  top:6px;
  width:56px;
  white-space:nowrap;
}
#u6826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:159px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6828 {
  position:absolute;
  left:1821px;
  top:7599px;
  width:54px;
  height:159px;
}
#u6829 {
  position:absolute;
  left:2px;
  top:72px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:97px;
}
#u6830 {
  position:absolute;
  left:1834px;
  top:7631px;
  width:30px;
  height:97px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u6831 {
  position:absolute;
  left:2px;
  top:40px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u6832 {
  position:absolute;
  left:1892px;
  top:7567px;
  width:66px;
  height:24px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u6833 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6834 {
  position:absolute;
  left:1892px;
  top:7664px;
  width:74px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6835 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6836 {
  position:absolute;
  left:2079px;
  top:7664px;
  width:129px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6837 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6838 {
  position:absolute;
  left:2326px;
  top:7664px;
  width:209px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6839 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u6840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6840 {
  position:absolute;
  left:1892px;
  top:7726px;
  width:110px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6841 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u6842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6842 {
  position:absolute;
  left:2079px;
  top:7726px;
  width:209px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:21px;
}
#u6843 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u6844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108DE9;
  line-height:21px;
}
#u6844 {
  position:absolute;
  left:1892px;
  top:7840px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108DE9;
  line-height:21px;
}
#u6845 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108DE9;
  line-height:21px;
}
#u6846 {
  position:absolute;
  left:1951px;
  top:7840px;
  width:74px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108DE9;
  line-height:21px;
}
#u6847 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(246, 184, 54, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6848 {
  position:absolute;
  left:1967px;
  top:7573px;
  width:65px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6849 {
  position:absolute;
  left:8px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u6850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:54px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6853 {
  position:absolute;
  left:47px;
  top:295px;
  width:1105px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6854 {
  position:absolute;
  left:16px;
  top:19px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6855 {
  position:absolute;
  left:47px;
  top:507px;
  width:1104px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6856 {
  position:absolute;
  left:16px;
  top:19px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6857 {
  position:absolute;
  left:47px;
  top:560px;
  width:1104px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6858 {
  position:absolute;
  left:16px;
  top:19px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6859 {
  position:absolute;
  left:47px;
  top:348px;
  width:1105px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6860 {
  position:absolute;
  left:16px;
  top:19px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6861 {
  position:absolute;
  left:47px;
  top:401px;
  width:1105px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6862 {
  position:absolute;
  left:16px;
  top:19px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6863 {
  position:absolute;
  left:47px;
  top:454px;
  width:1104px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6864 {
  position:absolute;
  left:16px;
  top:19px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6866 {
  position:absolute;
  left:47px;
  top:295px;
  width:49px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6867 {
  position:absolute;
  left:16px;
  top:19px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6869 {
  position:absolute;
  left:47px;
  top:507px;
  width:49px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6870 {
  position:absolute;
  left:16px;
  top:19px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6871 {
  position:absolute;
  left:65px;
  top:527px;
  width:15px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6872 {
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6874 {
  position:absolute;
  left:47px;
  top:560px;
  width:49px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6875 {
  position:absolute;
  left:16px;
  top:19px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6876 {
  position:absolute;
  left:65px;
  top:580px;
  width:15px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6877 {
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u6878 {
  position:absolute;
  left:67px;
  top:583px;
  width:10px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u6879 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6881 {
  position:absolute;
  left:47px;
  top:348px;
  width:49px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6882 {
  position:absolute;
  left:16px;
  top:19px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6883 {
  position:absolute;
  left:65px;
  top:368px;
  width:15px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6884 {
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u6885 {
  position:absolute;
  left:67px;
  top:371px;
  width:10px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u6886 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6887 {
  position:absolute;
  left:47px;
  top:402px;
  width:49px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6888 {
  position:absolute;
  left:16px;
  top:19px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6889 {
  position:absolute;
  left:65px;
  top:422px;
  width:15px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6890 {
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6892 {
  position:absolute;
  left:47px;
  top:453px;
  width:49px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6893 {
  position:absolute;
  left:16px;
  top:19px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6894 {
  position:absolute;
  left:65px;
  top:473px;
  width:15px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u6895 {
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6898 {
  position:absolute;
  left:65px;
  top:315px;
  width:15px;
  height:14px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6900 {
  position:absolute;
  left:68px;
  top:318px;
  width:8px;
  height:8px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6903 {
  position:absolute;
  left:90px;
  top:295px;
  width:77px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6904 {
  position:absolute;
  left:16px;
  top:19px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6906 {
  position:absolute;
  left:1017px;
  top:296px;
  width:60px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6907 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:left;
  line-height:53px;
}
#u6908 {
  position:absolute;
  left:1007px;
  top:350px;
  width:116px;
  height:266px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:left;
  line-height:53px;
}
#u6909 {
  position:absolute;
  left:16px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u6910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6911 {
  position:absolute;
  left:222px;
  top:295px;
  width:75px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6912 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u6913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6913 {
  position:absolute;
  left:214px;
  top:349px;
  width:88px;
  height:266px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6914 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6916 {
  position:absolute;
  left:406px;
  top:295px;
  width:74px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6917 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6918 {
  position:absolute;
  left:398px;
  top:349px;
  width:74px;
  height:266px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6919 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u6920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6921 {
  position:absolute;
  left:592px;
  top:295px;
  width:88px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6922 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6923 {
  position:absolute;
  left:589px;
  top:352px;
  width:93px;
  height:266px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6924 {
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6926 {
  position:absolute;
  left:775px;
  top:295px;
  width:75px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u6927 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6928 {
  position:absolute;
  left:787px;
  top:349px;
  width:49px;
  height:267px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u6929 {
  position:absolute;
  left:16px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:32px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(145, 213, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#EBEBEB;
  text-align:left;
  line-height:18px;
}
#u6931 {
  position:absolute;
  left:47px;
  top:253px;
  width:1105px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#EBEBEB;
  text-align:left;
  line-height:18px;
}
#u6932 {
  position:absolute;
  left:40px;
  top:8px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u6933 {
  position:absolute;
  left:60px;
  top:261px;
  width:17px;
  height:16px;
  font-family:'Lucida Bright';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u6934 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1ABC9C;
}
#u6935 {
  position:absolute;
  left:199px;
  top:257px;
  width:42px;
  height:24px;
  opacity:0;
  color:#1ABC9C;
}
#u6936 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:101px;
}
#u6938 {
  position:absolute;
  left:47px;
  top:884px;
  width:1080px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:26px;
  width:1076px;
  word-wrap:break-word;
}
#u6941 {
  position:absolute;
  left:352px;
  top:200px;
  width:450px;
  height:386px;
  overflow:hidden;
  visibility:hidden;
}
#u6941_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:386px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6941_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6942 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:345px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6943 {
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u6944 {
  position:absolute;
  left:0px;
  top:53px;
  width:450px;
  height:233px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u6945 {
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#999999;
}
#u6948 {
  position:absolute;
  left:256px;
  top:307px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#999999;
}
#u6948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#999999;
}
#u6948.mouseOver {
}
#u6949 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u6950 {
  position:absolute;
  left:356px;
  top:307px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u6950_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u6950.mouseOver {
  opacity:0.8;
}
#u6950_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u6950.mouseDown {
  opacity:1;
}
#u6951 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u6952 {
  position:absolute;
  left:418px;
  top:20px;
  width:13px;
  height:13px;
}
#u6952_img.mouseOver {
}
#u6952.mouseOver {
}
#u6953 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6954 {
  position:absolute;
  left:30px;
  top:78px;
  width:363px;
  height:189px;
  font-size:16px;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
